/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/*blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}*/

/* End of Reset */

/* Start of Custom Styles */

.content {
    padding: 0 15px;
    margin: 0 auto;
	width: 970px;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* Navigation Section */

.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.top-navigation .content {
	height: 70px;
}

.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;

}
.top-navigation .links Li {
	display: inline-block;
	margin-left: 25px;
	color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}

.top-navigation .links .active {
 	color: #4c5058;
    font-weight: 500;
}

.top-navigation .links Li:hover {
	cursor: pointer;
    color: #333333;
}

.top-navigation .logo {
	height: 70px;
}

/* Central Image */

.introduction {
	background-image: url('../Images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    font-family: 'Roboto', sans-serif;
    overflow: auto; /*to fix margin-top weirdness*/

}

.introduction h3 {
color: white;
text-align: center;
font-size: 1.563 rem;
margin-top: 1.25rem
}

.introduction h1 {
margin-top: 18rem;
font-size: 3rem;
color: white;
text-align: center;
}

.big-button {
	text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    margin: 0 auto;
    display: block;
    background-color: #F15A29;
    border-color: #F15A29;
    cursor: pointer;
    color: white;
    margin-top: 1.5rem;
    width: 9rem;
    font-size: 1rem;
}


/*3 icons*/

.cases {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}

.cases .content {
	margin-top: 8rem;
	padding: none;
	color: 1d1e21;
	text-align: center;

}

.cases h2 {
	font-size: 3rem;
	margin: 2rem 0 3rem;
	font-weight: 300;
}

.cases .devices {
    width: 33.3333333%;
    display: inline-block;
    float: left;
    /* styles to assist with debugging */
    /*border: 1px solid black;*/
/*    box-sizing: border-box;
    height: 4em;*/
}

.cases .devices h3 {
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5rem 0px 1.875rem;
}

/*Footer*/

.social {
	background-color: #fff;
	overflow: auto;
	padding-bottom: 9.375rem;
	text-align: center;
}


.social hr {
	border: 0;
	border-top: 1px solid #eaebec;
	margin: 1.313rem 0;
}

.social .icons li {
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	padding: 0.625rem 0;
	text-align: center;

}

/*.social .icons > li:hover {
    cursor: pointer;
}*/

.social .twitter {
	color: #55acee;
}

.social .facebook {
	color: #4c66a4;
}

.social .instagram {
	color: #3f729b;
}

/*.social .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;*/
